<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jhta.pony.dao.CartDAO">

	<!-- 카트 목록 -->
	<select id="cartAll" resultType="kr.co.jhta.pony.dto.CartDTO" parameterType="int">
		<!-- SELECT c.cartNo, c.partNumber, c.cartCount, c.memberNo, p.partName, p.partNo, p.partPrice, p.modelNo, m.modelName FROM CART c left outer join PART p on c.partNumber = p.partNumber WHERE memberNo = #{memberNo} -->
		SELECT
			c.cartNo, c.partNumber, c.cartCount, c.memberNo,
			p.partName, p.partNo, p.partPrice,
			m.modelName
		FROM
			CART c
			JOIN PART p ON c.partNumber = p.partNumber
			JOIN MODEL m ON p.modelNo = m.modelNo
		WHERE
			c.memberNo = #{memberNo}
	</select>

	<!-- 카트 추가 -->
	<insert id="addCart">
		<!-- INSERT INTO CART(memberNo, partNumber, cartCount) VALUES (#{memberNo}, #{partNumber}, #{cartCount}) -->
		INSERT INTO CART(memberNo, partNumber, cartCount)
		SELECT #{memberNo}, #{partNumber}, #{cartCount}
		FROM PART
		WHERE partNumber = #{partNumber}
	</insert>

	<!-- 카트 삭제 -->
	<delete id="deleteCart" parameterType="int">
		DELETE
		FROM CART
		WHERE cartNo = {cartNo}
	</delete>

	<!-- 카트 수량 수정 -->
	<update id="modifyCount" parameterType="kr.co.jhta.pony.dto.CartDTO">
		UPDATE CART
		SET cartCount = #{cartCount}
		WHERE cartNo = #{cartNo}
	</update>

	<!-- 카트 확인 -->
	<select id="checkCart" resultType="kr.co.jhta.pony.dto.CartDTO">
		SELECT cartNo, partNumber,
		cartCount, memberNo
		FROM CART
		WHERE memberNo = #{memberNo} and
		partNumber = #{partNumber}
	</select>
</mapper>