<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jhta.pony.dao.ModelDAO">
	<select id="ModelAll" resultType="kr.co.jhta.pony.dto.ModelDTO">
		SELECT modelName
		FROM MODEL
	</select>
	  
	<select id="ModelOne" parameterType="String" resultType="kr.co.jhta.pony.dto.ModelDTO">
		SELECT *
		FROM MODEL
		WHERE modelName = #{modelName}
	</select>
</mapper>