<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jhta.pony.dao.OrderDetailDAO">
	<select id="selectOne" resultType="kr.co.jhta.pony.dto.OrderDetailDTO" parameterType="hashmap">
		SELECT rn, orderDetailNo, partNumber, orderNo, orderdetailOrderQuantity, orderdetailAmount
    	FROM (SELECT ROW_NUMBER() OVER (ORDER BY partNumber DESC) 
    		AS rn, orderDetailNo, partNumber, orderNo, orderdetailOrderQuantity, orderdetailAmount
		        FROM ORDERDETAIL) 
		    AS derived
   		WHERE rn BETWEEN #{startNo} AND #{endNo}
    	AND orderNo = #{orderNo}
	</select>
	
</mapper>