<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jhta.pony.dao.ReservationDAO">

<select id="getAllReservation" resultType="kr.co.jhta.pony.dto.ReservationDTO">
	 SELECT
	        r.reservationNo,
	        r.reservationDate,
	        r.clientCarNumber,
	        m.memberName,
	        r.shopNo,
	        s.shopAreaPoint,
	        r.reservationClientRequests,
	        r.reservationDueDate
	    FROM
	        RESERVATION r
	        JOIN MEMBER m ON r.memberNo = m.memberNo
	        JOIN SHOP s ON r.shopNo = s.shopNo
	    WHERE
	        #{keyword} IS NULL OR m.memberName LIKE CONCAT('%', #{keyword}, '%')
	    LIMIT #{skip}, #{perPageNum}
</select>

	<select id="getTotalreservation" resultType="int" parameterType="String">
		SELECT count(*) cnt
		FROM RESERVATION r
		JOIN MEMBER m ON r.memberNo = m.memberNo
	    JOIN SHOP s ON r.shopNo = s.shopNo
	    <where>
	    	<if test="memberName != null and memberName != ''">
	    		m.memberName LIKE CONCAT('%', #{keyword}, '%')
	    	</if>
	    </where>
	</select>
	
	<select id="selectOne" parameterType="int" resultType="kr.co.jhta.pony.dto.ReservationDTO">
		SELECT reservationNo, reservationDate, clientCarNumber, memberNo, shopNo, reservationClientRequests,reservationDueDate 
		FROM RESERVATION
		WHERE reservationNo = #{reservationNo}
	</select>

</mapper>


