<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.pony.dao.TestDriveDAO">	

	<!-- 시승신청 추가 -->
	<insert id="insertTestDriveSchedule" parameterType="kr.co.jhta.pony.dto.TestDriveDTO">
		INSERT INTO TESTDRIVE(testDriveSchedule, shopNo, memberNo, modelNo, testDriveTime)
		VALUES(#{testDriveSchedule}, #{shopNo},${memberNo} , #{modelNo}, #{testDriveTime})
	</insert>
	
	<!-- 마감된 시승일정을 달력에 표시 -->
	<select id="showTestDriveSchedule" resultType="kr.co.jhta.pony.dto.TestDriveDTO">
		SELECT testDriveSchedule, shopNo, testDriveTime
		FROM TESTDRIVE
	</select>
	<!-- 중복 데이터 체크 -->
	<select id="checkTestDriveSchedule" resultType="int">
		SELECT COUNT(*)
		FROM TESTDRIVE
		WHERE shopNo = #{shopNo}
		AND testDriveSchedule = #{testDriveSchedule}
		AND testDriveTime = #{testDriveTime}
		FOR UPDATE
	</select>
	<!-- 시승신청내역 변경 -->
	<update id="updatedTestDrive" parameterType="kr.co.jhta.pony.dto.TestDriveDTO" >
		<!-- UPDATE TESTDRIVE AS T
		INNER JOIN MODEL AS M ON T.modelNo = M.modelNo
		INNER JOIN SHOP AS S ON T.shopNo = S.shopNo
		SET
		  M.modelName = #{modelName},
		  S.shopAreaPoint = #{shopAreaPoint},
		  S.shopAddr = #{shopAddr},
		  T.testDriveTime = #{testDriveTime},
		  T.testDriveSchedule = #{testDriveSchedule}
		WHERE T.memberNo = #{memberNo} and testDriveNo = #{testDriveNo}; -->
		UPDATE TESTDRIVE
		SET 
		    modelNo = #{modelNo},
		    testDriveTime = #{testDriveTime},
		    testDriveSchedule = #{testDriveSchedule},
		    shopNo = #{shopNo}
		WHERE
		    testDriveNo = #{testDriveNo}
	</update>
	<!-- 시승신청내역 삭제 -->
	<delete id="deleteTestDrive" parameterType="int">
		DELETE FROM TESTDRIVE
		WHERE
	    testDriveNo = #{testDriveNo}
	</delete>
	<!-- 시승신청내역 갯수 -->
	<select id="testDriveCount" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM TESTDRIVE
		WHERE memberNo = #{memberNo}
	</select>
	<!-- 성환님코드 -->
	<select id="testDriveStatusButton" resultType="kr.co.jhta.pony.dto.TestDriveDTO">
		SELECT *
		FROM TESTDRIVE
	</select>
</mapper>
