@charset "UTF-8";

  .container{
        margin-top: 100px;
    }
    .card-title{
        height: 70px;
        background-color: #5E5E5E;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        color: aliceblue;
    }
    .top-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        background-color: rgb(247, 244, 239);
    }
    .top-title-text{
        font-size: 80px;
        font-weight:bold;
        color: #5E5E5E;
    }
    .top-title-text2{
        font-size: 15px;
        font-weight:bold;
        color: #5E5E5E;
    }
    .selectModel{
        font-weight: bold;
        margin-top: 30px;
    }
    .vs-btn {
        display: flex;
        justify-content: center;
        margin: 70px;
    }
    